:root {
  --primaria: #AFA4CE !important;
  --secundaria: #9186b0 !important;
}

.top_module {
	border-radius: 25px;
	background: #ffffff;
	box-shadow:  5px 5px 18px #d3d3d345, -5px -5px 18px #ededed45;
}

.iconModule {
	padding: 25px;
	background: var(--primaria);
	border-radius: 25px;
	color: white;
}

.top_module .btmText {
	font-size: 1.5rem;
	font-weight: 500;
	color: #000000db;
}

.top_module .topText {
	font-size: 0.6rem !important;
	margin-left: 3px;
	color: #00000070;
}

button.new {
	padding: 20px;
	border: none;
	background: var(--primaria);
	color: white;
	border-radius: 20px;
}

.event_box label,
.event_box {
	cursor: pointer;
}

.event_pic {
	width: 100%;
	cursor: pointer;
	padding-bottom: 60%;
	border-radius: 20px 20px 0px 0px;
	background-size: cover !important;
	background-position: center center !important;
}

.event_module {
	cursor: pointer;
	padding: 20px;
	background: white;
	box-shadow:  5px 5px 18px #d3d3d345, -5px -5px 18px #ededed45;
	border-radius: 0px 0px 20px 20px;
}

.event_box svg {
	color: #00000070;
}

.event_box .event_title {
	font-size: 0.9rem !important;
	font-weight: 300;
}

#prevMonth,
#nextMonth {
	background: white !important;
	border-radius: 100%;
	border: 1px solid #000000ae;
	padding: 6px 14px;
	margin-left: 10px;
}

.titleCalendar {
	font-size: 1.5rem !important;
	font-weight: 300;
	color: #00000099;
}

/* ==================================== */
/* ==================== events view === */

div.banner {
	width: 100%;
	height: 200px;
	border-radius: 25px;
	background-size: cover !important;
	background-position: center center !important;
	margin-bottom: 20px;
}

label.title_event {
	font-size: 1.5rem !important;
	font-weight: 600;
	color: ;
}

input.input_title {
	font-size: 1.5rem !important;
	margin-bottom: 15px;
}

div.description {
	margin-top: 15px;
	background: #00000008;
	border-radius: 25px;
	padding: 15px 20px;
}

#fr-logo {
	display: none !important;
	opacity: 0 !important;
}

.banner .edit {
	padding: 30px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	background: #00000080;
	cursor: pointer;
	color: white;
	border-radius: 100%;
}

.menuEvent .linkEvent {
	padding: 20px;
	font-size: 0.8rem !important;
	background: #00000010;
	margin-bottom: 10px;
	border-radius: 15px;
	cursor: pointer;
	color: #00000090;
	transition: all 200ms;
}

.menuEvent .linkEvent:hover {
	background: #00000020;
}

.menuEvent .active {
	padding: 20px;
	font-size: 0.8rem !important;
	background: var(--primaria);
	margin-bottom: 10px;
	border-radius: 15px;
	cursor: pointer;
	color: white;
}

.menuEvent .active:hover {
	background: var(--secundaria);
}

button.save {
	padding: 10px 20px;
	border: none;
	font-size: 0.8rem !important;
	background: var(--primaria);
	color: white;
	border-radius: 20px;
}

button.save svg {
	margin-right: 5px;
}

h1.title {
	font-size: 1.5rem !important;
	font-weight: 300;
}

.date_title {
	background: #00000010;
	border-radius: 20px;
	color: #000000;
	font-size: 1.5rem;
	margin-bottom: 20px;
	margin-top: 20px;
}

.date_title svg {
	margin-right: 10px;
	color: #00000050 !important;
}

button.act {
	padding: 13px 20px;
	background: var(--primaria);
	font-size: 0.8rem !important;
	color: white !important;
	border-radius: 20px;
	margin-left: 10px;
	position: relative;
	bottom: -15px;
	border: none;
}

button.act_event {
	padding: 13px 20px;
	background: transparent;
	font-size: 0.8rem !important;
	border-radius: 20px;
	margin-left: 10px;
	border: 1px solid var(--secundaria) !important;
	color: var(--secundaria);
	transition: all 300ms;
}

button.act_event:hover {
	background: var(--secundaria);
	color: white;
}

button.act_event svg {
	margin-right: 5px;
}

.nothing {
	font-size: 0.7rem !important;
	color: #00000080 !important;
	padding: 20px !important;
	padding-top: 30px !important;
}

label.stats {
	font-size: 0.6rem !important;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 3px 8px;
}