:root {
  --primaria: #AFA4CE !important;
  --secundaria: #9186b0 !important;
}

body {
	background: #F3F3F3;
	padding-bottom: 50px;
	font-family: Poppins;
}

label.input {
	position: relative;
	font-size: 0.7rem !important;
	padding: 0px 7px;
	background: white;
	color: #000000ae;
	bottom: -7px;
	left: 15px;
}

input,
textarea {
	width: 100%;
	background: transparent;
	font-size: 1.2rem !important;
	border-color: #00000050;
	border-radius: 20px;
	padding: 13px 20px;
}

textarea {
	font-size: 0.9em !important;
	padding: 15px 20px;
	font-weight: 300;
	height: 150px;
}

div.alignContent {
	width: 80%;
	position: relative;
	margin-top: 5vh;
	left: 50%;
	transform: translateX(-50%);
}

img.logo {
	width: 100%;
}

div.module {
    padding: 0px;
    background: white;
    border-radius: 0px 0px 25px 25px;
    box-shadow:  -5px 5px 63px #dedede,
             5px -5px 63px #ffffff;;
}

div.progressbar {
	background: white;
	width: 100%;
	height: 10px;
	position: relative;
	z-index: 1;
}

div.bar {
	background: #afa4cd;
	height: 10px;
}

div.module div.capa {
	width: 100%;
	padding: 180px;
	cursor: pointer;
	background-size: cover !important;
	background-position: center center !important;
	background: #00000010;
}

div.contentInputs {
	padding: 5px 30px 30px 30px;
}

.capa .edit {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	padding: 21px 23px 25px 25px;
	background: #00000010;
	transition: all 300ms;
	border-radius: 100%;
	font-size: 2rem;
	cursor: pointer;
	color: white;
}

div.capa:hover .edit {
	background: #00000040;
}

b.req {
	font-weight: 300 !important;
	color: red;
}

p.capa_details {
	font-size: 0.6rem !important;
	margin-top: -18px;
	padding-left: 10px;
	color: #00000050;
}

label.title_top {
	font-size: 1.5rem !important;
	margin-bottom: -15px;
	margin-left: 20px;
	font-weight: 300;
}

button.act {
	padding: 13px 20px;
	background: var(--primaria);
	font-size: 0.8rem !important;
	color: white !important;
	border-radius: 20px;
	margin-left: 10px;
	position: relative;
	bottom: -15px;
	border: none;
}

.cancel {
	background: #00000030 !important;
}

.next svg {
	margin-left: 5px;
}

.cancel svg {
	margin-right: 5px;
}

#evento_descricao,
.fr-box {
	margin-top: 15px !important;
}

.fr-view {
	height: 15vh !important;
}

@keyframes expandWidth {
  from {
    width: 15%;
  }
  to {
    width: 35%;
  }
}

@keyframes expandWidth65 {
  from {
    width: 35%;
  }
  to {
    width: 65%;
  }
}

@keyframes expandWidth95 {
  from {
    width: 65%;
  }
  to {
    width: 95%;
  }
}

input.address {
	font-size: 0.8rem !important;
}

.trashDate {
	border: none;
	padding: 15px 0px;
	font-size: 0.8rem !important;
	border-radius: 20px;
	width: 100%;
}


/* ==================================== */
/* ===================== Ingressos ==== */

.date_title {
	background: #00000010;
	border-radius: 15px;
	color: #000000;
	font-size: 1.5rem;
	margin-bottom: 10px;
	margin-top: 20px;
}

.date_title svg {
	margin-right: 10px;
	color: var(--primaria) !important;
}