.categorySection{
	padding: 70px 0px 70px 0px;
}

.iCircle {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	border-radius: 50%;
}

.iCircle::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border: 3px solid #14888b;
	border-radius: 50%;
	pointer-events: none;
}

.categoryCircle{
	padding: 0px !important;
}

.categorySection svg{
	margin-left: -33px;
}

div.allEvents{
	font-size: 1rem;
}

.allEvents svg{
	color: #4A3D90 !important;
	font-size: 1.5rem !important;
	margin-top: -3px;
}

label.allEvents{
	color: #39474F;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	cursor: pointer !important;
	margin-left: 10px;
}

.slogam{
	font-family: Montserrat;
	font-weight: 700;
	line-height: 1.3;
	text-align: left !important;
}

.topAllEvents{
	padding-bottom: 10px;
	border-bottom: 2px solid #00000010;
}

.moduleEvent{
	margin-bottom: 30px;
}

.moduleEvent .photo {
	position: relative;
	width: 100%;
	margin-top: 25px;
	padding-bottom: 200px;
	margin-bottom: 15px;
	border-radius: 10px;
	background: url('https://s3-alpha-sig.figma.com/img/10cc/2174/8548a8d478f20e0319daeacc35839963?Expires=1693180800&Signature=UvqSTZ2F205t3Oa9-NiAGfQYC0jloJKEaOpg0IpDwVCmZEVUyN7F~UXXokatcvvJjO5C7K9d33glYD4FlhAEfi5p6gnJNYZKubTVDZ3I9BlhWyW5p67z5nj0F0q~MtNUGXs49ZEjZK0x1gwtXAQcX8sV87c5LQN7Hdw9zu5hiKhuEgs2VAf6n2srCkd4503BUaHodmKfP9qWt~FIyhhZhhfZc-NsWYDNh24gufvNSFPThmiRj3fUXyNFG0K5MJeno8KdK6fbg1aAhityTX845n-BcZcKKsfYPn4P-6dd~6I9b9dk2e7WNGhpNAryAFYIned8Fpi2DDU5kdQzl6-Agw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
	background-size: cover !important;
	background-position: center center !important;
  cursor: pointer !important;
}

.moduleEvent .photo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  pointer-events: none;
}

.moduleEvent .photo:hover::before {
  opacity: 1;
}

.share-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	fill: white;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.moduleEvent .photo:hover .share-icon {
	opacity: 1;
}



.moduleEvent label.title{
	color: #39474F;
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.moduleEvent label.city{
	color: #39474F;
	font-weight: 400;
	font-size: 0.9rem;
	margin-bottom: 0px !important;
}

.moduleEvent label.local{
	color: #4A3D90;
	font-weight: 400;
	font-size: 0.7rem;
}

.moduleEvent label.month{
	line-height: 1.1;
	color: #39474F !important;
	font-weight: 500 !important;
	font-size: 1.5rem !important;
}

.moduleEvent label.day{
	line-height: 1.1;
	color: #39474F !important;
	font-weight: 700 !important;
	font-size: 2.5rem !important;
}

.moduleEvent label.hour{
	line-height: 1.1;
	color: #4A3D90 !important;
	font-weight: 400 !important;
	font-size: 1rem !important;
}

.moduleEvent .buy{
	padding: 10px 30px;
	font-size: 0.9rem !important;
	margin-top: 15px;
	border-radius: 50px;
	border: 2px solid #5ca6ef;
	background: transparent;
	font-weight: 600 !important;
	color: #2d82d6;
	transition: all 400ms;
}

.moduleEvent .buy:hover{
	padding: 10px 30px;
	font-size: 0.9rem !important;
	margin-top: 15px;
	border-radius: 50px;
	border: 2px solid #FFFFFF90;
	background: var(--gradient);
	font-weight: 600 !important;
	color: #fff;
}

.svg-text {
  font-family: Inter, Helvetica;
  color: #000000 !important;
  font-weight: 600 !important;
  color: #4A3D90;
  word-wrap: break-word !important;
}

.nothing{
	text-align: center !important;
	margin-top: 40px;
	color: #00000050;
	padding: 20px;
}

@media (max-width: 768px) {
  .footer_totTitle {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
  }
  .slogam{
  	font-size: 0.6rem !important;
  }
  label.allEvents{
  	margin-left: -10px !important;
  }
  p.copy{
  	font-size: 0.6rem !important;
  }
}