div.myAccountBox {
	padding: 100px 0px;
}

.profile_pp {
	background-size: cover !important;
	background-position: center center !important;
	border-radius: 100% !important;
	padding: 0px !important;
	width: 80%;
	padding-bottom: 80% !important;
}

@keyframes pulsate {
    0% {
        border-color: #00000020;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: #00000020;
    }
}

input:required:invalid {
    animation: pulsate 1.5s infinite;
}

h4.title {
	font-weight: 300;
	margin-bottom: 20px;
	color: #00000080;
}

ul.left_menu {
	margin-bottom: 0px;
	margin-top: 45px;
	padding-left: 0px;
}

ul.left_menu a {
	text-decoration: none;
}

ul.left_menu li {
	font-weight: 300;
	padding: 7px 15px;
	background: transparent;
	list-style-type: none;
	font-size: 0.8rem;
	color: black;
	border-left: 3px solid transparent;
	transition: all 200ms;
}

ul li.ative {
	border-left: 3px solid var(--primaria);
}

ul.left_menu li:hover {
	border-left: 3px solid var(--primaria);
}

.module hr {
	border-color: #00000020;
}

.insta_pp {
	widht: 100%;
	padding-bottom: 100%;
	border-radius: 15px;
	background-position: center center;
	background-size: cover !important;
}

label.status {
	padding-top: 8px;
	margin-left: 10px;
	font-size: 0.8rem;
	color: #28a745 !important;
}

label.status svg {
	margin-right: 5px;
}

div.alert_email {
	padding: 5px 5px 5px 20px;
	margin-bottom: 20px;
	background: #ff9307;
	color: white;
	border-radius: 20px;
	font-weight: 300;
}

.alert_email .fa-envelope {
	font-size: 1rem;
}

.alert_email svg {
	margin-right: 10px;
}

.alert_email button.resend {
	padding: 8px 15px;
	border-radius: 20px;
	border: none;
	background: #00000010;
	color: white;
	font-size: 0.7rem !important;
}

svg.changePic {
	position: relative;
	padding: 10px 10px 12px 12px;
	background: var(--primaria);
	border-radius: 100%;
	color: white;
	top: -45%;
	right: -65%;
	cursor: pointer;
}

@media screen and (max-width: 1650px) {
	svg.changePic {
		top: -45%;
		right: -65%;
	}
}

@media screen and (max-width: 1450px) {
	svg.changePic {
		top: -40%;
		right: -60%;
	}
}

.module{
	padding: 20px 20px;
	border-radius: 25px;
	background: #fff;
	box-shadow:  5px 5px 18px #d3d3d345, -5px -5px 18px #ededed45;
	font-size: 0.9rem !important;
}

label.input {
	color: #00000090;
	position: relative;
	font-size: 0.65rem !important;
	font-family: Poppins !important;
	margin-bottom: -7px;
	background: white;
	padding: 0 5;
	left: 10px;
}

input,
select {
	width: 100%;
	padding: 10px 15px;
	font-weight: 300 !important;
	font-size: 0.8rem !important;
	border: 1px solid #00000030;
	border-radius: 15px;
}

input:focus {
    outline: none;
}

b.req {
	color: var(--secundaria);
	font-weight: 300;
}

.act_money {
	border: none;
	background: var(--primaria);
	color: white;
	padding: 13px 20px !important;
	margin-left: 10px;
	border-radius: 20px;
	font-size: 0.8rem;
}

.act_money svg {
	margin-right: 5px;
}

li hr {
	margin: 5px 0px;
	width: 50%;
	border-color: #00000030;
}

.left_menu svg {
	margin-right: 5px;
	color: var(--primaria);
}

.titleTickets {
	font-size: 1.5rem !important;
	font-weight: 400 !important;
	color: #000000de;
}

.titleTickets svg {
	margin-right: 10px;
	color: var(--primaria);
}

div.ticketBox {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #00000005;
}

div.capaEvent {
	width: 100%;
	padding-bottom: 55%;
	border-radius: 20px;
	background: #00000020;
	background-size: cover !important;
	background-position: center center !important;
}

.ticketName {
	font-weight: 400;
	font-size: 1.1rem !important;
}

.local {
	font-weight: 300;
	margin-top: 3px;
	font-size: 0.7rem !important;
	color: #00000099;
}

.hour {
	font-weight: 500;
	color: #46464c;
	font-size: 1.1rem !important;
}

.date {
	font-weight: 300;
	font-size: 0.7rem !important;
	color: #00000099;
}

.valor {
	font-weight: 300;
	font-size: 0.7rem !important;
	color: #00000099;
}

label.status { 
	padding: 2px 8px;
	border-radius: 10px;
	font-size: 0.6rem !important;
	border: 1px solid black;
}

label.status_0 { color: #1e1e1e !important; border-color: #1e1e1e; }
label.status_1 { color: green !important; border-color: green; }
label.status_2 { color: green !important; border-color: green; }
label.status_3 { color: #ffb100 !important; border-color: #ffb100; }
label.status_4 { color: #0a0949 !important; border-color: #0a0949; }

.borderButton {
	color: var(--primaria) !important;
	background: transparent !important;
	border: 1px solid var(--primaria) !important;
	transition: all 300ms;
}

.borderButton:hover {
	background: var(--primaria) !important;
	color: white !important;
}